@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&family=DM+Sans&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    /* background: linear-gradient(#314755,#26a0da);   */
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #977fef;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background-color: #6751b8;
}

.container {

    background: linear-gradient(#292E49, #4e4376);
    padding: 48px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

h1 {
    font-size: 3rem;
    color: white;
}

.box {
    margin-top: 5vh;
    width: 100%;
}

.box-inputs {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    width: 50%;
    height: 48px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 0 12px;
    outline: none;
    font-size: 1rem;
    border: 1px solid #d8d8d8;
    caret-color: #977FEF;
    transition: all 0.2s;
}

input:hover {
    background-color: #f5f5f5;
}

button {
    height: 48px;
    padding: 0 28px;
    font-size: 1rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    background-color: #977FEF;
    border: 1px solid #977FEF;
    outline: 1px solid #977FEF;
    color: white;
    font-weight: 600;
    transition: all 0.2s;
}

button:hover {
    opacity: 0.8;
}

.box p {
    color: #e7e7e7;
    text-align: center;
    font-size: 0.8rem;
    margin-top: 3vh;
}

.box p a {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 0.8rem;
    margin-top: 1vh;
}

#ResultsData {
    width: 60%;
    height: auto;
    background-color: #f5f5f5;
    margin-top: 5vh;
    border-radius: 10px;
    overflow: hidden;
}

#img {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
}

img {
    width: 300px;
    height: 200px;
    border-radius: 4px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

h2 {
    text-align: center;
    margin-top: 1.4vh;
    font-size: 2rem;
}

.more {
    width: 100%;
    height: auto;
}

.otherdata {
    margin-top: 5vh;
}

table {
    width: 100%;
    border: 1px solid #d8d8d8;
    border-collapse: collapse;
    text-align: left;
}

th {
    width: 30%;
}

tr,
td,
th {
    border: 1px solid #d8d8d8;
    padding: 12px 16px;
    font-size: 1rem;
}

td a:any-link {
    text-decoration: none;
    color: #1194ff;
}

@media screen and (max-width: 856px) {
    #ResultsData {
        width: 90%;
    }

    input {
        width: 60%;
    }
}

@media screen and (max-width: 396px) {
    h1 {
        font-size: 2rem;
    }

    #ResultsData {
        width: 100%;
    }

    input {
        width: 100%;
    }

    img {
        width: 250px;
        height: 160px;
        border-radius: 4px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

    td,
    th {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 500px) {
    h1 {
        font-size: 1.5rem;
    }

    #ResultsData {
        width: 95%;
    }
}